<html>
<body>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<p>
<br>
<br>
</p>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (item) { %>
        <form class="add-item-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="item_name">Item Name</label>
                    <input type="text" class="form-control" name="item_name" id="item_name" value="<%= item.item_name %>" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="category">Category      </label>
                    <select id="category" name="category" class="form-control" required>
                        <option selected><%= item.category %></option>
                        <option>Material</option>
                        <option>Power Tool</option>
                        <option>Screws</option>
                        <option>Hand Tool</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="manufacture">Manufacturer </label>
                    <input type="text" class="form-control" name="manufacture" id="manufacture" value="<%= item.manufacture %>">
                </div>
                <div class="form-group col-md-4">
                    <label for="model_number">Model</label>
                    <input type="text" class="form-control" name="model_number" id="model_number" value="<%= item.model_number %>">
                </div>
                 <div class="form-group col-md-4">
                    <label for="price">Price</label>
                    <input type="number" step="0.01" class="form-control" name="price" id="price" value="<%= item.price %>">
                </div>
                <div class="form-group col-md-4">
                    <label for="count">Count</label>
                    <input type="number" class="form-control" name="count" id="count" value="<%= item.count %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" name="location" id="location" value="<%= item.location %>">
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right w3-button w3-teal"> <a href="/inventory" target="_blank" rel="noopener" style="text-decoration: none">Update Item</a> </button>
        </form>
    <% } else { %>
        <p class="text-center">Item Not Found. Go <a href="/add">here</a> to add items.</p>
    <% } %>
</div>
</div>
</body>
</html>
